[project]
name = "backend"
version = "0.1.0"
description = "AI RAG API with FastAPI and LangChain"
authors = [{ name = "Andrea Ragalzi", email = "andrea.ragalzi.code@gmail.com" }]
license = { text = "MIT" }
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi>=0.121.1,<0.122.0",
    "uvicorn[standard]>=0.38.0,<0.39.0",
    "pydantic-settings>=2.11.0,<3.0.0",
    "langchain>=1.0.5,<2.0.0",
    "langchain-openai>=1.0.2,<2.0.0",
    "pypdf>=6.2.0,<7.0.0",
    "chromadb>=1.3.4,<2.0.0",
    "langchain-text-splitters>=1.0.0,<2.0.0",
    "langchain-community>=0.4.1,<0.5.0",
    "python-multipart>=0.0.20,<0.0.21",
    "cohere>=5.20.0,<6.0.0",
    "rank-bm25>=0.2.2,<0.3.0",
    "unstructured[pdf]>=0.18.18,<0.19.0",
    "langchain-chroma>=1.0.0,<2.0.0",
    "langdetect>=1.0.9,<2.0.0",
    "translate>=3.8.0,<4.0.0",
    "pytest>=8.0.0,<9.0.0",
    "httpx>=0.27.0,<0.28.0",
    "pytest-cov>=6.0.0,<8.0.0",
]

[project.optional-dependencies]
dev = [
    "pytest>=8.0.0,<9.0.0",
    "httpx>=0.27.0,<0.28.0",
    "pytest-cov>=6.0.0,<8.0.0",
]

[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["."]
include = ["app*"]
